
.header{
background-image: url("/assets/imgs/banner2.jpg");
height: 20rem;
background-repeat: no-repeat;
background-size: cover;
background-position: right center;
}

main{
    background-image: url("/assets/imgs/COMET.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
}

img:hover{
  rotate:360deg;
  position: relative;
  z-index: 1000;
}

img{
  box-shadow:1px 1px 1px 1px black;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
 
}



/*CARDS*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
}


h1, h2, h3, h4, h5, tr {
  margin: 0;
  font-weight: 400;
  color:white;
  text-shadow: 1px 1px 5px black;
}

tr{
    display: flex;
    gap:3.9rem;
    justify-content: space-between;
}


.card {
  width: 15rem;
  padding: 10px;
  border-radius: 10px;  
  margin: 12px 6px;
  background-color: #604f4ffd;
  border: 2px solid black;
  box-shadow: 0px 13px 30px -15px #000000;
  

  &__caption {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
  }
  &__image-container {
    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
  }
  
  &__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }

  &__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
  }
  
  
  &__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;    
    font-weight: 700;
    letter-spacing: 0.02em;
  }
  
  &__stats {
    margin: 1em 0;
    th {
      font-family: helvetica, sans-serif;
      text-align: right;
      font-weight: 300;
    }
    width: 100%;
    
    th, td {
      width: 50%;
     }
    
    
  }
  
  &__abilities {
    display: flex;
    justify-content: space-between;
  }
  &__ability {
    margin-top: 1em;
    flex: 1 0;
  }
  
  box-shadow: 0px 5px 20px -10px #111111;
  
  

  
  
  position: relative;  
  transition: 0.4s;

  

  &:hover {
    z-index: 5;
    box-shadow: 1px 1px 10px #000000;
    transform:translateY(-3px);
  }
  
}

.fa-brands{font-size: 2rem;
color: white;}

/*
.fa-linkedin:hover{
   color: rgb(71, 131, 177);
   cursor: pointer;}
.fa-instagram:hover{
   color: rgb(234, 34, 70);
   cursor: pointer;}
*/
.follow {color:white;
font-weight: bold;
text-shadow: 2px 2px 10px black;}

/*Variables*/

:root{
  --color-normal: #A8A090;
  --color-grass: 	rgb(120,200,80);
  --color-fire: #F05030;
  --color-water: rgb(56,153,248);
  --color-electric: #F8D030;
  --color-ice: #58C8E0;
  --color-fighting: #A05038;
  --color-poison: 	#B058A0;
  --color-ground: #E9D6A4;
  --color-flying: #98A8F0;
  --color-psychic: #F870A0;
  --color-bug: rgb(168,184,32);
  --color-rock: #B8A058;
  --color-ghost: 	#6060B0;
  --color-dark: #7A5848;
  --color-dragon: #7860E0;
  --color-steel:rgb(168,168,192);
  --color-fairy: #E79FE7;
  
}